/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

* {
  text-decoration-color: inherit;
  text-decoration-thickness: 0.1ex;
}

body {
  --stack-horizontal-alignment: stretch;

  background: var(--color-neutral-bg);
  color: var(--color-neutral-secondary-text);

  font-size: var(--step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}

/* Base typesetting */
h1,
h2,
h3,
.heading-wrapper {
  color: var(--color-neutral-primary-text);
  font-family: var(--font-display);

  @supports (font-variation-settings: 'wght' 400) {
    font-variation-settings: 'wght' var(--font-weight, var(--weight-semi-bold));
  }
}

h1,
h2 {
  letter-spacing: var(--tracking-s);
}

h2,
h3,
.heading-wrapper:has(h2),
.heading-wrapper:has(h3) {
  line-height: var(--leading-fine);
}

h1 {
  font-size: var(--step-6);
  line-height: var(--leading-flat);
}

h2,
.heading-wrapper:has(h2) {
  font-size: var(--step-3);
}

h3,
.heading-wrapper:has(h3) {
  font-size: var(--step-2);
}

h3 {
  letter-spacing: var(--tracking-m);
}

/* Set line lengths */
h1,
h2,
h3 {
  max-inline-size: var(--measure-headings);
  text-wrap: balance;
}

p,
li,
figcaption,
blockquote:not([class]) {
  max-inline-size: var(--measure-body);
  text-wrap: pretty;
}

/* More generic elements */
figcaption {
  --flow-space: var(--space-3xs-2xs);

  color: var(--color-neutral-tertiary-text);
  font-size: var(--step-min-1);
  line-height: var(--leading-medium);
}

blockquote > * + * {
  margin-block-start: 1em;
}

blockquote:not([class]) {
  padding: 1em;
  border-inline-start: 0.5ch solid var(--color-neutral-border);
  /* font-size: var(--step-1);
  font-family: var(--font-serif);
  line-height: var(--leading-medium);
  letter-spacing: var(--tracking-m); */
}

/* Markdown blockquote:not([class])s aren't ideal */
blockquote:not([class]) cite {
  font-style: normal;
  /* font-family: var(--font-base); */
  /* font-size: var(--step-0); */
  /* letter-spacing: normal; */
}

/* Base interactive elements */
a,
button {
  color: var(--color-brand-primary-text);
}

button,
summary {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

a {
  text-underline-offset: min(0.2em, 4px);
}

a:hover {
  text-decoration-thickness: 0.2ex;
}

:target {
  scroll-margin-top: 1em;
}

:focus-visible {
  outline: 2px solid var(--color-brand-primary-text);
  outline-offset: 2px;
  border-radius: 1px;
  /* text-decoration-color: transparent; */
}

main:focus {
  outline: none;
}
