/* Global variables */
:root {
  --gutter: var(--space-s-m);
  --nav-link-padding-block: var(--space-xs-s);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

  /* colors */

  /* text */
  --color-neutral-primary-text: var(--color-slate-10);
  --color-neutral-secondary-text: var(--color-slate-9);
  --color-neutral-tertiary-text: var(--color-slate-6);
  --color-brand-primary-text: var(--color-blue-8);

  /* bg */
  --color-neutral-bg: var(--color-slate-1);
  --color-primary-bg: var(--color-blue-1);

  /* border */
  --color-neutral-border: var(--color-slate-4);
  --color-primary-border: var(--color-blue-4);

  @media (--OSdark) {
    -webkit-font-smoothing: antialiased;

    /* text */
    --color-neutral-primary-text: var(--color-slate-2);
    --color-neutral-secondary-text: var(--color-slate-3);
    --color-neutral-tertiary-text: var(--color-slate-5);
    --color-brand-primary-text: var(--color-blue-4);

    /* bg */
    --color-neutral-bg: var(--color-slate-11);
    --color-primary-bg: var(--color-blue-11);

    /* border */
    --color-neutral-border: var(--color-slate-8);
    --color-primary-border: var(--color-blue-8);
  }
}

:root {
  --header-border: 1px;

  @media (resolution >= 192dpi) {
    --header-border: 0.5px;
  }
}
