.heading-wrapper {
  h2,
  h3 {
    display: inline;
  }
}

.anchor-link {
  vertical-align: middle;
  opacity: 0;
  transition: var(--transition-fade);
}

.heading-wrapper:where(:hover, :focus-within) .anchor-link {
  opacity: 1;
}
