.site-nav {
  /*
  https://lea.verou.me/blog/2012/04/background-attachment-local/#%E2%80%9Cbackground-attachment%E2%80%A6-what%3F-i-only-know-scroll-and-fixed!%E2%80%9D */
  overflow: auto;
  background: linear-gradient(
      to right,
      var(--color-neutral-primary-bg) 30%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-neutral-primary-bg) 70%)
      100% 0,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100%
      0%;
  background-repeat: no-repeat;
  background-color: var(--color-neutral-primary-bg);
  background-size: 1.2rem 100%, 1.2rem 100%, 0.4rem 100%, 0.4rem 100%;
  background-attachment: local, local, scroll, scroll;
}

:where(.has-js) .site-nav {
  overflow: visible;
  background: unset;
}

@media (--sm-n-above) {
  :where(.has-js) .site-nav-button {
    display: none;
  }
}

:where(.has-js) .site-nav-button line {
  transform-origin: 50%;
}

.site-nav-button[aria-expanded='true'] line {
  &:nth-child(1),
  &:nth-child(4) {
    opacity: 0;
  }

  &:nth-child(2) {
    transform: rotate(45deg);
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}

:where(.has-js) .site-nav-list-container {
  position: var(--nav-list-container-position, fixed);
  inset-inline-start: var(--nav-list-container-inset, 0);
  inset-block-start: var(--nav-list-container-inset, 0);

  inline-size: var(--nav-list-container-width, 100vw);
  block-size: var(--nav-list-container-height, var(--full-vh));

  overflow: var(--nav-list-container-overflow, auto);
  visibility: var(--nav-list-container-visibility, visible);
  z-index: var(--nav-list-container-z-index, -1);
  overscroll-behavior: contain;

  @media (--sm-n-above) {
    --nav-list-container-position: static;
    --nav-list-container-inset: unset;
    --nav-list-container-width: auto;
    --nav-list-container-height: auto;
    --nav-list-container-overflow: visible;
    --nav-list-container-z-index: unset;
    --nav-list-container-opacity: 1;
    --nav-list-container-translate: none;
    --nav-list-container-visibility: visible;
    --nav-list-container-pointer-events: auto;
  }
}

.site-nav-button[aria-expanded='false'] + .site-nav-list-container {
  opacity: var(--nav-list-container-opacity, 0);
  translate: var(--nav-list-container-translate, 66% 0);
  visibility: var(--nav-list-container-visibility, hidden);
  pointer-events: var(--nav-list-container-pointer-events, none);
}

/* animates ul only when opening to avoid flash on page load, svg always */
@media (--motionOK) {
  .site-nav-button[aria-expanded='true'] + .site-nav-list-container {
    /* transition: var(--transition-fade); */
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .site-nav-button line:nth-child(2),
  .site-nav-button line:nth-child(3) {
    transition: var(--transition-movement);
  }
}

.site-nav ul {
  display: flex;
  gap: var(--gutter);

  > li {
    flex-shrink: 0;
  }
}

/* Remove default list styling and create layout for list */
:where(.has-js) .site-nav ul {
  flex-direction: var(--nav-list-layout, column);
  gap: 0 var(--gutter);
  justify-content: end;

  min-block-size: var(--nav-list-height, var(--full-vh));
  padding: var(--nav-list-padding, var(--space-xl) var(--gutter) var(--space-l-xl));
  background: var(--nav-list-background, var(--color-neutral-primary-bg));

  /* overflow: auto; */
  /* text-align: end; */

  @media (--sm-n-above) {
    --nav-list-layout: row;
    --nav-list-padding: 0;
    --nav-list-height: auto;
    --nav-list-background: transparent;
  }
}

:where(.has-js) .site-nav-list-container li {
  position: relative;
}

:where(.has-js) .site-nav-list-container a::after {
  content: '';
  position: absolute;
  inset: 0;
}

/* Change color for the active page */
.site-nav-list-container [aria-current='page'] {
  color: var(--color-brand-primary-text);
}

body:has(.site-nav-button[aria-expanded='true']) {
  overflow: hidden;
}

.site-head__inner:has(.site-nav-button[aria-expanded='true']) {
  border-block-end: var(--header-border) solid var(--color-slate-3);
}
