.site-foot {
  --stack-space: auto;

  a {
    display: inline-flex;
    padding-block: var(--nav-link-padding-block);
  }
}

.site-foot__inner {
  --cluster-space: 0 var(--gutter);
  --cluster-horizontal-alignment: space-between;

  & ul {
    --cluster-horizontal-alignment: flex-start;
  }
}
