.skip-link {
  display: block;
  position: absolute;
  inset-block-start: var(--nav-link-padding-block);
  inset-inline-start: var(--gutter);

  padding: calc(1 / 2 * var(--nav-link-padding-block)) var(--gutter);

  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.15s ease;
  z-index: 999;
}

.skip-link:focus {
  opacity: 1;
  outline: 0;
  transform: translate(0);
}
