lite-youtube {
  /* Web Components display inline by default  */
  display: block;
}

.lite-youtube-fallback {
  --stack-vertical-alignment: center;
  --stack-horizontal-alignment: center;

  padding: 1em;
  background-color: var(--color-brand-primary-bg);
  aspect-ratio: 16 / 9;
  outline: solid;

  & svg {
    inline-size: var(--space-m-l);
    block-size: var(--space-m-l);
  }
}
