{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <!-- charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if seo.title %}{{ seo.title }}
      {% elif title %}{{ title }}
      {% else %}{{ site.siteName }}{% endif %}
    </title>

    <!-- 
      synchronous JS before CSS 
      https://www.youtube.com/watch?v=MHyAOZ45vnU
    -->
    <script>
      document.documentElement.classList.add('has-js');
    </script>

    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/scripts/app.js?{{ assetHash }}"
      as="script"
      fetchpriority="high"
    >
    <link
      rel="preload"
      href="/assets/fonts/inter-partial-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <!-- prettier-ignore -->
    <link rel="preload"
      href="{{ preloads.href }}"
      as="{{ preloads.as }}"
      {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}" {% endif %}
      {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="stack">
    <!-- header -->
    {% include "partials/header.njk" %}

    <!-- content slot -->
    <main id="main">
      <div class="wrapper | flow">
        {{ content | safe }}
      </div>
    </main>

    <!-- footer -->
    {% include "partials/footer.njk" %}

    <!-- defered js  -->
    <script src="/assets/scripts/app.js?{{ assetHash }}" defer></script>
    <!-- if youtube is activated in the yaml -->
    {% if youtube %}
    <script src="/assets/scripts/lite-youtube.js?{{ assetHash }}" defer></script>
    {% endif %}
  </body>
</html>
