---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ developer.name }}
Contact: {{ developer.email }}
Site: {{ developer.site }}
Mastodon: {{ developer.mastodon }}

/* SITE */
Doctype: HTML5
