---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "name": "{{ site.siteName }} - {{ site.siteDescription }}",
  "short_name": "{{ site.siteName }}",
  "start_url": "{{ site.url }}",
  "icons": [
    {
      "src": "/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    },
    {
      "src": "/maskable.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "maskable"
    }
  ],
  "theme_color": "{{ designTokens.colors.items[0].value }}",
  "background_color": "{{ designTokens.colors.items[1].value }}",
  "display": "standalone"
}