---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "name": "{{ site.siteName }} - {{ site.siteDescription }}",
  "short_name": "{{ site.siteName }}",
  "start_url": "{{ site.url }}",
  "icons": [
    { "src": "/icon-192.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/icon-512.png", "type": "image/png", "sizes": "512x512" }
  ],
  "theme_color": "{{ designTokens.colors.items[0].value }}",
  "background_color": "{{ designTokens.colors.items[1].value }}",
  "display": "standalone"
}