@import 'tailwindcss/base';

@import 'global/reset.css';
@import 'global/font.css';

@import 'tailwindcss/components';

@import 'global/variables.css';
@import 'global/global-styles.css';

@import-glob 'compositions/*.css';
@import-glob 'utilities/*.css';
@import-glob 'blocks/*.css';

@import 'tailwindcss/utilities';
