.with-icon {
  display: inline-flex;
  align-items: center;
}

.icon {
  inline-size: 1.125em;
  block-size: 1.125em;

  @supports (height: 1.5cap) {
    inline-size: 1.5cap;
    block-size: 1.5cap;
  }
}

.with-icon .icon {
  margin-inline-end: 0.5ch;
}
