{% set activePage = page.url | url %}

<footer class="site-foot | pt-l-xl text-min-1" role="contentinfo">
  <div class="site-foot__inner | cluster | wrapper">
    
    <p>&copy; {% year %}</p>

    <nav aria-label="Footer">
      <ul class="cluster" role="list">
      {% for item in navigation.bottom %}
        <li>
          <a
            href="{{ item.url }}"
            {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
          >
            {{ item.text }}
          </a>
        </li>
      {% endfor %}

      {% for item in social %}
        <li>
          {% if item.platform == "rss" %}
            <a
              href="{{ site.url }}/{{ locale }}{{ item.url }}"
              rel="alternate"
              type="application/rss+xml"
            >
              {% include 'icons/social-' + item.icon %}
              {{ item.platform }}
            </a>
          {% else %}
            <a class="with-icon" href="{{ item.url }}" rel="me">
              {% include 'icons/social-' + item.icon %}
              {{ item.platform }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>

</footer>


