<a href="#main" class="skip-link">Skip to content</a>

<header class="site-head" role="banner">
  <div class="site-head__inner | repel wrapper ">
    {% set activePage = page.url | url %}
    <a 
      href="/"
      class="site-head__brand | with-icon"
      {% if activePage === '/' %} aria-current="page" {% endif %}
    >
      {% lucide "globe" %}
      {{ site.siteName }}
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>
